{% extends 'base.html' %}
{% block content %}
  <div class="container py-4">
    {% include 'partials/form_error.html' %}
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="mb-0">Edit Kiosk Location</h1>
        <p class="text-muted">
          Kiosk Locations help keep track of and log where guests are
          checking into for example a Datacenter, Lobby, Room etc.
        </p>
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">
              <strong>Name</strong><span class="text-danger">*</span>
            </label>
            {{ form.name }}
            <div id="nameHelp" class="form-text">Enter a unique name</div>
          </div>
          <div class="mb-3">
            <label for="notes" class="form-label"><strong>Notes (Optional)</strong></label>
            {{ form.notes }}
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
          <a class="btn btn-secondary" href="{% url 'vms:settings' %}?tab=kioskLocations">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
